@{
    ViewData["Title"] = "Servicos";
}

<div class="text-center">
    <h1>Conheça os nossos serviços!</h1>
</div>

<div class="ml-5" style="font-size: 18px;">
    <div style="margin-top: 2em;">
        <ul class="d-flex flex-column">
            <l1><strong>🟢Atendimento 24h</strong></l1>
            <ul class="d-flex flex-column">
                <l1>➤ O hospital com atendimento 24 horas deve atender urgências e emergências integralmente, assim como, garantir assistência médica preventiva.</l1>
                <l1>➤ R$ 95,00</l1>
            </ul>
        </ul>
    </div>
    <div style="margin-top: 2em;">
        <ul class="d-flex flex-column">
            <l1><strong>🟢Vacinação</strong></l1>
            <ul class="d-flex flex-column">
                <l1>➤ Manter a vacinação do pet em dia é fundamental, por isso, é um serviço necessário que deve ser oferecido em seu hospital veterinário ou clínica.</l1>
                <l1>➤ R$ 50,00</l1>
            </ul>
        </ul>
    </div>
    <div style="margin-top: 2em;">
        <ul class="d-flex flex-column">
            <l1><strong>🟢Cirurgias</strong></l1>
            <ul class="d-flex flex-column">
                <l1>➤ Cirurgias como a remoção de tumores são muito comuns em clínicas e hospitais veterinários. A procura pelo serviço é bastante alta.</l1>
                <l1>➤ Para informações de valores entrar em contato.</l1>
            </ul>
        </ul>
    </div>
</div>
